.canvas {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Empêche le débordement du contenu lors de la mise à l'échelle */
  }
  
  .content {
    width: 640px;
    height: 425px;
    transform-origin: center center; /* Centre l'origine de la transformation */
    transform: scale(1); /* Échelle initiale, vous pouvez ajuster selon vos besoins */
    transition: transform 0.3s ease; /* Ajoute une transition en douceur */
    background-color: black;
  }

.spongebob {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/spongebob.jpg");
}

.windows {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/windows.jpg");
}

.roadrunner {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/roadrunner.jpg");
}

.scooby {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/scooby.jpg");
}

.orange {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/orange.jpg");
}

