.canvas {
    width: 640px;
    height: 425px;
    /* margin: auto; */
    /* background-image: url("./background_v1.png"); */
    background-color: black;
    /* border: 2px solid black; */
    
  margin-left: auto;
  margin-right: auto;
}

.spongebob {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/spongebob.jpg");
}

.windows {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/windows.jpg");
}

.roadrunner {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/roadrunner.jpg");
}

.scooby {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/scooby.jpg");
}

.orange {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/orange.jpg");
}

