.canvas {
    width: 640px;
    height: 425px;
    margin: auto;
    /* position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 10%; */
    /* background-image: url("./background_v1.png"); */
    background-color: black;
    /* border: 2px solid black; */
}
.canvas::before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ffffff;
}

.spongebob {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/spongebob.jpg");
}

.windows {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/windows.jpg");
}

.roadrunner {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/roadrunner.jpg");
}

.scooby {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/scooby.jpg");
}

.orange {
    width: 640px;
    height: 425px;
    margin: auto;
    background-image: url("./img/orange.jpg");
}

